@import "tailwindcss";

/* === Custom Color Variables === */
:root {
  --color-primary: #0a0a23;
  --color-secondary: #e0ff66;
  --color-text: #7c7c7c;
  --color-accent: #9e8cf0;
  --color-yellow: #ffd166;
  --color-purple: #c2b4f2;
  --color-dark-blue-1: #0a0a23;
  --color-dark-blue-2: #141328;
  --color-border-1: #eaeaea;
  --color-gray-1: #d3d3d3;
  --color-light-gray: #f0f0f0;
  --color-main-bg: #d1c4f6;
  --color-variant-bg: #f5f3ff;
  --color-white: #ffffff;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
    background-color: var(--color-main-bg);
    color: var(--color-text);
  }
}
